.page {
    font-family: 'inter', Arial, sans-serif;
    max-width: 1280px;
    min-width: 310px;
    background: #2A2C2F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 28px 0 24px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    @media screen and (max-width:710px) {
        .page {
            padding-top: 16px;
        }
    }